@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
/*------------------------------------------------------------------
* Project:        Magberg
* 更多精品模板：http://www.bootstrapmb.com
-------------------------------------------------------------------
*/
/* ========================================= */
/*          Default CSS                      */
/* ========================================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
header,
nav,
section,
article,
aside,
footer {
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-weight: 400;
  color: #777;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.body-mag {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .body-mag .container {
    z-index: inherit; }
  .body-mag:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081430 url(../images/dot-overlay.png) repeat;
    transition: all ease-in-out 0.5s;
    opacity: 0.7;
    content: ''; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 16px;
  color: #081430;
  line-height: 1.4; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #081430;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #ff1949, #ff1949);
    background-position: left 87%;
    background-repeat: no-repeat;
    background-size: 0px 2px;
    padding-bottom: 4px; }
    h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
      text-decoration: none;
      color: #ff1949;
      transition: all ease-in-out 0.5s;
      outline: none;
      text-decoration: none !important;
      background-size: 100% 2px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px;
  border-left: 2px solid #ff1949;
  padding-left: 10px; }

h6 {
  font-size: 14px; }

@media (max-width: 991px) {
  h2 {
    font-size: 28px; } }
@media (max-width: 735px) {
  h2 {
    font-size: 21px; }

  h3 {
    font-size: 18px; } }
p {
  margin-bottom: 8px; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul li {
    margin-bottom: 0px;
    line-height: 1.5;
    color: #777;
    position: relative;
    display: inline-block;
    padding: 0; }

ol {
  margin: 0;
  counter-reset: i;
  position: relative; }
  ol li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #777;
    padding-left: 0;
    position: relative; }

a {
  color: #3f3f3f;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    color: #ff1949;
    transition: all ease-in-out 0.5s;
    outline: none; }

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #ff1949 !important; }

::-webkit-input-placeholder {
  /* Edge */
  color: #777 !important; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777 !important; }

input::placeholder {
  color: #777 !important; }

.row [class*="col-"] {
  padding: 0 15px; }

img {
  max-width: 100%; }

.btn-info.focus, .btn-info:focus, .btn-info:active {
  outline: none;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important; }

.container {
  position: relative;
  z-index: 1; }

@media (max-width: 767px) {
  .container, .container-sm {
    max-width: 100%; } }
.border {
  border-color: #f1f1f1 !important; }

.before-none::before {
  display: none !important; }

.white {
  color: #fff !important; }

.theme {
  color: #ff1949 !important; }

.black {
  color: #3f3f3f !important; }

.grey {
  color: #777 !important; }

.bg-grey {
  background: #f1f1f1 !important; }

.bg-lgrey {
  background: #fbfbfb !important; }

.bg-theme {
  background: #ff1949 !important; }

.bg-navy {
  background: #081430 !important; }

.bg-ltheme {
  background: #F56961 !important; }

.bg-black {
  background: #3f3f3f !important; }

.bg-fblack {
  background: #000000 !important; }

.bg-white {
  background: #fff !important; }

.bordernone {
  border: none !important; }

.border-b {
  border-bottom: 1px dashed #f1f1f1 !important; }

.border-all {
  border: 1px solid #f1f1f1 !important; }

.rating span {
  color: #ffbc00;
  display: inline;
  font-size: 14px; }

.small, small {
  font-size: 85%; }

.mt-1, .my-1 {
  margin-top: 0.5rem !important; }

.mt-2, .my-2 {
  margin-top: 1rem !important; }

.mt-3, .my-3 {
  margin-top: 1.5rem !important; }

.mt-4, .my-4 {
  margin-top: 2rem !important; }

.mt-5, .my-5 {
  margin-top: 2.5rem !important; }

.mt-6, .my-6 {
  margin-top: 3rem !important; }

.mt-7, .my-7 {
  margin-top: 3.5rem !important; }

.mt-8, .my-8 {
  margin-top: 4rem !important; }

.mt-9, .my-9 {
  margin-top: 4.5rem !important; }

.mt-10, .my-10 {
  margin-top: 5rem !important; }

.mb-1, .my-1 {
  margin-bottom: 0.5rem !important; }

.mb-2, .my-2 {
  margin-bottom: 1rem !important; }

.mb-3, .my-3 {
  margin-bottom: 1.5rem !important; }

.mb-4, .my-4 {
  margin-bottom: 2rem !important; }

.mb-5, .my-5 {
  margin-bottom: 2.5rem !important; }

.mb-6, .my-6 {
  margin-bottom: 3rem !important; }

.mb-7, .my-7 {
  margin-bottom: 3.5rem !important; }

.mb-8, .my-8 {
  margin-bottom: 4rem !important; }

.mb-9, .my-9 {
  margin-bottom: 4.5rem !important; }

.mb-10, .my-10 {
  margin-bottom: 5rem !important; }

.pt-1, .py-1 {
  padding-top: 0.5rem !important; }

.pt-2, .py-2 {
  padding-top: 1rem !important; }

.pt-3, .py-3 {
  padding-top: 1.5rem !important; }

.pt-4, .py-4 {
  padding-top: 2rem !important; }

.pt-5, .py-5 {
  padding-top: 2.5rem !important; }

.pt-6, .py-6 {
  padding-top: 3rem !important; }

.pt-7, .my-7 {
  padding-top: 3.5rem !important; }

.pt-8, .my-8 {
  padding-top: 4rem !important; }

.pt-9, .my-9 {
  padding-top: 4.5rem !important; }

.pt-10, .my-10 {
  padding-top: 5rem !important; }

.pb-1, .py-1 {
  padding-bottom: 0.5rem !important; }

.pb-2, .py-2 {
  padding-bottom: 1rem !important; }

.pb-3, .py-3 {
  padding-bottom: 1.5rem !important; }

.pb-4, .py-4 {
  padding-bottom: 2rem !important; }

.pb-5, .py-5 {
  padding-bottom: 2.5rem !important; }

.pb-6, .py-6 {
  padding-bottom: 3rem !important; }

.pb-7, .my-7 {
  padding-bottom: 3.5rem !important; }

.pb-8, .my-8 {
  padding-bottom: 4rem !important; }

.pb-9, .my-9 {
  padding-bottom: 4.5rem !important; }

.pb-10, .my-10 {
  padding-bottom: 5rem !important; }

.pb-14, .my-14 {
  padding-bottom: 7rem !important; }

.pb-20, .my-20 {
  padding-bottom: 10rem !important; }

.form-group {
  width: 100%;
  display: inline-block; }
  .form-group select {
    padding: 10px 20px 10px 35px; }

input[type=text], input[type=email], input[type=number], input[type=search],
input[type=password], input[type=tel], input[type=date], input[type=time], textarea, select {
  font-size: 15px;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 0px;
  padding: 10px 20px;
  color: #777;
  margin-bottom: 0;
  height: 50px;
  box-shadow: none;
  width: 100%; }
  input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus,
  input[type=password]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=time]:focus, textarea:focus, select:focus {
    outline: none;
    transition: all 0.5s ease;
    box-shadow: none; }

select {
  padding: 8px 20px;
  width: 100%;
  height: inherit; }
  select option {
    color: #3f3f3f; }

textarea {
  border-radius: none;
  resize: vertical;
  height: 120px; }

label {
  display: inline-block;
  color: #777;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 15px; }

blockquote {
  font-size: 14px;
  font-weight: 400;
  background-color: #ff1949;
  margin-bottom: 15px;
  border: 0;
  padding: 30px 70px 30px 70px;
  line-height: 1.5;
  color: #fff;
  margin: 20 0;
  font-style: italic;
  position: relative; }
  blockquote :after {
    content: '';
    position: absolute;
    height: 60%;
    width: 2px;
    background: #fff;
    top: 20%;
    left: 35px; }
  blockquote p {
    color: #fff;
    margin: 0; }
  blockquote :before {
    content: '\f10d';
    font-family: 'fontawesome';
    font-size: 45px;
    position: absolute;
    bottom: 26px;
    right: 20px;
    color: #fff;
    transform: rotate(180deg); }
  blockquote span {
    position: relative;
    padding-left: 20px; }
    blockquote span :before {
      content: '';
      width: 12px;
      height: 1px;
      background: #ff1949;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px; }

table > tbody tr td, table > tbody tr th, table > tfoot tr td, table > tfoot tr th, table > thead tr td, table > thead tr th {
  padding: 10px;
  vertical-align: sub !important;
  border: 1px solid #f1f1f1; }
table > tbody tr:nth-child(even), table > tfoot tr:nth-child(even), table > thead tr:nth-child(even) {
  background: #fbfbfb; }

table {
  width: 100%; }
  table thead tr th {
    border-bottom: none !important; }

.overlay, .dot-overlay, .color-overlay, .black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #081430;
  transition: all ease-in-out 0.5s;
  opacity: 0.7; }

.dot-overlay {
  background: #081430 url(../images/dot-overlay.png) repeat;
  opacity: 0.6; }

.color-overlay {
  top: inherit;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #000000);
  height: 60%; }

.black-overlay {
  background: #000000;
  opacity: 0.5; }

section {
  padding: 4.75rem 0 5rem;
  position: relative; }

/*heading title*/
.section-title, .section-title-w {
  position: relative;
  z-index: 1; }
  .section-title:before, .section-title-w:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px dashed #ff1949;
    width: 10%;
    margin: 0 auto; }
  .section-title h2, .section-title-w h2 {
    position: relative;
    font-weight: 500;
    color: #ff1949;
    line-height: 0.8;
    margin-bottom: 1rem !important; }
    .section-title h2 span, .section-title-w h2 span {
      color: #081430;
      font-weight: 700; }

.section-title-w:before {
  border-color: #fff !important;
  margin: 0 auto;
  right: 0; }

@media (max-width: 991px) {
  .section-title {
    width: 75% !important; } }
@media (max-width: 767px) {
  .section-title {
    width: 100% !important;
    text-align: center !important; }
    .section-title::before {
      left: 0;
      right: 0; } }
.row.slick-slider {
  margin: 0 -15px; }

iframe {
  width: 100%;
  border: none; }

.border-t {
  border-top: 2px dashed #cccccc5e; }

.box-shadow {
  box-shadow: 0 0 15px #cccccc37; }

/*pagination*/
.pagination-main {
  line-height: 0.8; }
  .pagination-main .pagination {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block; }
    .pagination-main .pagination li {
      padding-left: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
      .pagination-main .pagination li:before, .pagination-main .pagination li:after {
        display: none; }
      .pagination-main .pagination li a {
        padding: 0;
        height: 40px;
        line-height: 38px;
        margin-right: 9px;
        text-align: center;
        width: 40px;
        color: #3f3f3f;
        font-size: 12px;
        border: 1px solid #f1f1f1;
        display: inline-block;
        background: #fbfbfb;
        background: #fff; }
        .pagination-main .pagination li a:hover, .pagination-main .pagination li a:focus {
          background-color: #ff1949;
          color: #fff !important;
          border-color: #ff1949; }
      .pagination-main .pagination li:last-child > a, .pagination-main .pagination li:last-child > span {
        border-radius: none;
        margin: 0; }
    .pagination-main .pagination li.active a {
      background: #ff1949 !important;
      border-color: #ff1949 !important;
      color: #fff; }
    .pagination-main .pagination .prev a, .pagination-main .pagination .next a {
      border-radius: 0px; }

@media (max-width: 567px) {
  .pagination li a {
    height: 30px;
    width: 30px;
    line-height: 28px; } }
@media (max-width: 359px) {
  .pagination li a {
    height: 28px;
    width: 28px;
    line-height: 28px; } }
.fade:not(.show) {
  opacity: 1; }

/*breadcrumb*/
.breadcrumb-main {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .breadcrumb-main .breadcrumb-outer {
    background: transparent;
    position: relative;
    z-index: 1; }
    .breadcrumb-main .breadcrumb-outer:before {
      display: none; }
    .breadcrumb-main .breadcrumb-outer .breadcrumb-content, .breadcrumb-main .breadcrumb-outer .bread-content {
      position: relative;
      z-index: 1; }
      .breadcrumb-main .breadcrumb-outer .breadcrumb-content h2, .breadcrumb-main .breadcrumb-outer .bread-content h2 {
        color: #fff;
        text-transform: uppercase;
        line-height: 0.7;
        font-size: 48px; }
      .breadcrumb-main .breadcrumb-outer .breadcrumb-content nav, .breadcrumb-main .breadcrumb-outer .bread-content nav {
        display: inline-block;
        position: absolute;
        bottom: 50%;
        left: 0; }
    .breadcrumb-main .breadcrumb-outer .bread-content nav {
      left: 0;
      right: 0; }

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  display: inline-block; }
  .breadcrumb li, .breadcrumb li.active {
    margin-bottom: 0;
    color: #fff; }
    .breadcrumb li a, .breadcrumb li.active a {
      color: #ff1949; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    content: '|';
    color: #fff; }

@media (max-width: 991px) {
  .breadcrumb-main .breadcrumb-outer .breadcrumb-content {
    display: block !important;
    text-align: center !important; }
    .breadcrumb-main .breadcrumb-outer .breadcrumb-content nav {
      right: 0; }
    .breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
      margin: 0 !important; } }
@media (max-width: 811px) {
  .page-cover h1 {
    font-size: 36px; }
  .page-cover .author-detail {
    display: block !important; } }
@media (max-width: 639px) {
  .page-cover h1 {
    font-size: 28px; } }
@media (max-width: 479px) {
  .breadcrumb-main .breadcrumb-outer .breadcrumb-content {
    text-align: center; }
    .breadcrumb-main .breadcrumb-outer .breadcrumb-content h2 {
      display: block;
      font-size: 40px; } }
/*Buttons*/
button {
  border: none; }

.nir-btn, .nir-btn-black {
  position: relative;
  z-index: 1;
  font-size: 14px;
  text-align: center;
  padding: 12px 24px;
  text-transform: capitalize;
  transition: all ease-in-out 0.5s;
  background: #ff1949;
  color: #fff;
  display: inline-block;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.1);
  border: 2px solid transparent; }
  .nir-btn:hover, .nir-btn-black:hover {
    border-color: #ff1949;
    transition: all ease-in-out 0.5s;
    color: #ff1949;
    background: transparent; }

.nir-btn-black {
  background: #3f3f3f; }
  .nir-btn-black:before {
    border-color: #3f3f3f;
    color: #3f3f3f; }
  .nir-btn-black:hover {
    border-color: #3f3f3f;
    color: #fff; }
    .nir-btn-black:hover:before {
      color: #3f3f3f; }

.main-btn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 12px 30px;
  background-color: #ff1949;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
  display: inline-block;
  z-index: 2; }
  .main-btn::after {
    position: absolute;
    right: 15px;
    top: 0;
    background: #F56961;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    content: '';
    z-index: -1;
    width: 50px;
    height: 50px; }
  .main-btn:hover::after {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #F56961; }
  .main-btn:hover {
    color: #fff; }

input#submit {
  border: none; }

input#submit:hover {
  opacity: 0.8;
  background: #ff1949 !important;
  color: #fff; }

@media (max-width: 811px) {
  .newsletter .newsletter-main .newsletter-form {
    width: 60% !important; } }
@media (max-width: 767px) {
  .newsletter .newsletter-main .newsletter-form {
    width: 100% !important; } }
@media (max-width: 567px) {
  .newsletter .newsletter-main .newsletter-form form {
    border: none !important;
    border-radius: 0 !important; }
    .newsletter .newsletter-main .newsletter-form form input {
      border: 1px solid #f1f1f1 !important;
      padding-right: 20px !important; }
    .newsletter .newsletter-main .newsletter-form form input.nir-btn {
      border: none !important;
      position: relative !important;
      margin-top: 16px; } }
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fbfbfb;
  z-index: 999999; }
  #preloader #status {
    position: fixed;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background: url(../images/loader.gif);
    background-size: cover;
    background-position: center;
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    transition: all ease-in-out 0.5s;
    z-index: 9999999999; }

/* End Preloader */
#back-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  display: none; }
  #back-to-top a {
    display: block;
    width: 40px;
    height: 40px;
    background: #ff1949;
    position: relative;
    transition: all ease-in-out 0.5s;
    text-align: center; }
    #back-to-top a:after {
      position: absolute;
      content: '\f30c';
      font-family: "Font Awesome 5 Free";
      font-size: 20px;
      color: #fff;
      top: 50%;
      left: 50%;
      z-index: 1;
      font-weight: 700;
      transform: translate(-50%, -50%); }

.alert {
  margin-bottom: 10px;
  border-radius: 0px;
  color: #e83737;
  padding: 0; }
  .alert .alert-success {
    background: transparent;
    border: transparent;
    border-radius: 0px;
    color: #3c763d; }
    .alert .alert-success h4 {
      margin-bottom: 8px; }
    .alert .alert-success p {
      color: #fff; }


/* ========================================= */
/*          trending-topic  CSS        */
/* ======================================== */
.trending-topic .trending-topic-main .trending-topic-item {
  position: relative; }
  .trending-topic .trending-topic-main .trending-topic-item::before {
    content: '';
    background: #d2113933;
    position: absolute;
    left: -8px;
    bottom: -8px;
    width: 50%;
    height: 50%; }
  .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image {
    position: relative;
    overflow: hidden; }
    .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image img {
      transition: all ease 0.5s; }
    .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image .trending-topic-content h4 {
      bottom: 15px;
      left: 0px; }
      .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image .trending-topic-content h4::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background: #ff1949;
        transition: all ease 0.5s; }
      .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image .trending-topic-content h4 a {
        position: relative; }
    .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image:hover h4:before {
      transition: all ease 0.5s;
      width: 100%; }
    .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image:hover {
      cursor: pointer; }
      .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image:hover h4 a {
        color: #fff !important;
        transition: all ease 0.5s; }
      .trending-topic .trending-topic-main .trending-topic-item .trending-topic-image:hover img {
        transform: scale(1.2) rotate(10deg);
        transition: all ease 0.5s; }

.trending-topic-counter::before {
  content: '';
  background: #f1f1f1;
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0; }
.trending-topic-counter .trending-topic-counter-inner {
  width: 65%;
  margin: 0 auto;
  padding: 40px 40px 100px; }
  .trending-topic-counter .trending-topic-counter-inner .section-title::before {
    display: none; }
  .trending-topic-counter .trending-topic-counter-inner .section-title h2 {
    font-weight: 700; }
  .trending-topic-counter .trending-topic-counter-inner .counter-item {
    padding: 20px !important;
    border: 1px solid #f1f1f1a6; }

.why-us .why-us-item {
  padding: 24px 20px 33px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 15px #cccccc37;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  position: relative;
  transform: translateY(0px); }
  .why-us .why-us-item::after {
    content: '';
    background: #ff1949;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    position: absolute;
    transition: all ease-in-out 0.5s; }
  .why-us .why-us-item .why-us-icon [class^="flaticon-"]::before, .why-us .why-us-item .why-us-icon i {
    font-size: 58px; }
  .why-us .why-us-item:hover {
    transform: translateY(-5px);
    transition: all ease-in-out 0.5s;
    cursor: pointer; }
    .why-us .why-us-item:hover::after {
      width: 100%;
      transition: all ease-in-out 0.5s; }
    .why-us .why-us-item:hover h4 a {
      color: #ff1949; }

@media (max-width: 1100px) {
  .trending-topic-counter .trending-topic-counter-inner {
    width: 86%;
    padding: 40px 40px 80px; } }
@media (max-width: 991px) {
  .trending-topic-counter {
    padding-bottom: 0; }
    .trending-topic-counter .trending-topic-counter-inner {
      padding: 40px;
      margin: 0 auto 0 !important; }
      .trending-topic-counter .trending-topic-counter-inner .car-image {
        width: 100%;
        position: relative;
        bottom: inherit; } }
@media (max-width: 767px) {
  .trending-topic .trending-topic-item {
    text-align: center; }
    .trending-topic .trending-topic-item:before {
      display: none; } }
/* ========================================= */
/*          Trending  CSS        */
/* ======================================== */
.trending .trend-item {
  position: relative;
  transition: all ease-in-out 0.5s;
  overflow: hidden; }
  .trending .trend-item .trend-image, .trending .trend-item .trend-image1 {
    transition: all ease-in-out 0.5s; }
  .trending .trend-item:hover {
    transition: all ease-in-out 0.5s;
    transform: translateY(-10px); }
    .trending .trend-item:hover::before {
      transition: all ease-in-out 0.5s;
      width: 100%; }
    .trending .trend-item:hover .trend-image, .trending .trend-item:hover .trend-image1 {
      transition: all ease-in-out 0.5s;
      filter: grayscale(10); }
.trending .trend-image1 {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: all ease-in-out 0.5s; }
  .trending .trend-image1 > a {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    display: inline-block;
    transition: all ease-in-out 0.5s; }

.entry-author img {
  width: 36px !important;
  height: 36px !important;
  display: inline-block !important; }

.sidebar-sticky {
  position: sticky;
  top: 0;
  transition: all ease-in-out 0.5s; }
  .sidebar-sticky .list-sidebar {
    border-radius: 0px; }
    .sidebar-sticky .list-sidebar .sidebar-item {
      padding: 0 0px 30px;
      border-bottom: 2px dashed #f1f1f1;
      margin-bottom: 30px; }
      .sidebar-sticky .list-sidebar .sidebar-item:last-child {
        border: none;
        margin: 0;
        padding: 0; }
      .sidebar-sticky .list-sidebar .sidebar-item h4 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 30px;
        border-bottom: 1px solid #f1f1f1; }
        .sidebar-sticky .list-sidebar .sidebar-item h4::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 20%;
          height: 2px;
          background: #ff1949; }
      .sidebar-sticky .list-sidebar .sidebar-item h5 {
        border: none;
        padding: 0; }
      .sidebar-sticky .list-sidebar .sidebar-item .pretty {
        display: block;
        margin-bottom: 20px;
        margin-right: 0; }
        .sidebar-sticky .list-sidebar .sidebar-item .pretty .state label {
          text-indent: 1em;
          width: 100%;
          padding-left: 10px; }
          .sidebar-sticky .list-sidebar .sidebar-item .pretty .state label span.number {
            float: right; }
        .sidebar-sticky .list-sidebar .sidebar-item .pretty:last-child {
          margin: 0; }
      .sidebar-sticky .list-sidebar .sidebar-item .pretty.p-icon .state .icon {
        color: #fff; }
      .sidebar-sticky .list-sidebar .sidebar-item .pretty.p-icon input:checked ~ .state .icon {
        background: #ff1949; }
      .sidebar-sticky .list-sidebar .sidebar-item .range-slider {
        margin-bottom: 0; }
        .sidebar-sticky .list-sidebar .sidebar-item .range-slider .ui-slider .ui-slider-range {
          background: #ff1949; }
      .sidebar-sticky .list-sidebar .sidebar-item .star-rating span {
        color: #ffbc00;
        display: inline; }
      .sidebar-sticky .list-sidebar .sidebar-item .map-box {
        text-align: center;
        border: 1px solid #f1f1f1;
        padding: 30px 0;
        background: url(../images/streetmap.jpg);
        background-size: cover; }
        .sidebar-sticky .list-sidebar .sidebar-item .map-box i {
          display: block;
          font-size: 44px;
          color: #ef2853; }
  .sidebar-sticky .form-content {
    box-shadow: 0px 0px 30px #cccccc57;
    background: #ff1949;
    padding: 30px; }
    .sidebar-sticky .form-content h4::before {
      display: none !important; }
    .sidebar-sticky .form-content .nice-select {
      padding: 13px 20px 10px 35px;
      font-weight: 400; }
    .sidebar-sticky .form-content .input-box {
      position: relative;
      display: inline-block;
      width: 100%; }
      .sidebar-sticky .form-content .input-box input {
        padding-left: 35px; }
      .sidebar-sticky .form-content .input-box i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1; }
      .sidebar-sticky .form-content .input-box [class^="fa-"]:before {
        color: #ef2853;
        font-weight: 600; }

.sidebar-sticky.sticky1 {
  top: 120px; }

.sidebar-sticky.sticky1.tab-sticky {
  top: 30px; }

.tabs-navbar {
  border: 1px solid #f1f1f1; }
  .tabs-navbar ul li {
    display: block;
    width: 100%; }
    .tabs-navbar ul li a {
      padding: 10px 15px;
      transition: all ease-in-out 0.5s;
      display: block;
      border-bottom: 1px solid #f1f1f1;
      width: 100%; }
      .tabs-navbar ul li a:hover {
        color: #fff;
        background: #ff1949;
        transition: all ease-in-out 0.5s; }
  .tabs-navbar ul li.active a {
    color: #fff;
    background: #ff1949;
    transition: all ease-in-out 0.5s; }

.tabs-navbar1 {
  border: 1px solid #f1f1f1; }
  .tabs-navbar1 ul {
    display: inherit;
    text-align: center; }
    .tabs-navbar1 ul li a {
      padding: 10px 15px;
      transition: all ease-in-out 0.5s; }
      .tabs-navbar1 ul li a:hover {
        color: #fff;
        background: #ff1949;
        transition: all ease-in-out 0.5s; }
    .tabs-navbar1 ul li.active a {
      color: #fff;
      background: #ff1949;
      transition: all ease-in-out 0.5s; }

.navbar-sticky {
  z-index: 99999;
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  animation-name: slideInUp;
  transition: all ease-in-out 0.5s; }

.tabs-navbar1.navbar-sticky {
  top: 86px;
  transition: all ease-in-out 0.5s; }

.sticky1.tab-sticky {
  top: 0px;
  transition: all ease-in-out 0.5s;
  animation-name: slideInUp; }

@media (max-width: 991px) {
  .tabs-navbar1.navbar-sticky {
    top: 0;
    position: relative !important; }

  .more-top .trend-image1 {
    height: 300px; }
  .more-top .trend-content-main .trend-content {
    padding: 20px 0 0; } }
@media (max-width: 567px) {
  .trending .trend-item {
    display: block !important; }
    .trending .trend-item .trend-content-main, .trending .trend-item .trend-image {
      width: 100% !important; }
    .trending .trend-item .trend-content {
      padding: 20px 0; }

  .entry-meta {
    display: block !important; }
    .entry-meta .entry-author {
      margin-bottom: 15px; } }
