//
//about.scss
//

.about-us {
    padding: 100px 0;
    .icon-bg {
        border: 1px solid #e0e0e0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        font-size: 34px;
        border-radius: 50%;
    }
}
